*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    position: sticky;
    // we should use top: 0px for sticky to work
    top: 0px;
    background-color: white;

    nav{
        min-height: 10vh;
        margin: auto;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1,
        ul{
            flex: 1;
        }

        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

        a{
            color: black;
            text-decoration: none;
        }
    }

    font-size: 1.5em;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 5em;
        color: white;
    }
}

.home{
    background: linear-gradient(to right top, #f46b45, #eea849);
}

.project{
    background: linear-gradient(to right top, #005c97, #363795);
}

.contact{
    background: linear-gradient(to right top, #e53935, #e35d5b);
}